BnG.RTK.CRMData/Application/Xdsoft.RTK.ExtCrmWeb/FolderSectionDesigner.csd.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="urn:Xdsoft.RTK.ExtCrmWeb" elementFormDefault="qualified" targetNamespace="urn:Xdsoft.RTK.ExtCrmWeb" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="tutorialSection" type="tns:Xdsoft.RTK.ExtCrmWeb.TutorialSectionCT" />
	<xs:element name="Foobars" type="tns:Xdsoft.RTK.ExtCrmWeb.FoobarsCT" />
	<xs:complexType name="Xdsoft.RTK.ExtCrmWeb.TutorialSectionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" name="foobars" type="tns:Xdsoft.RTK.ExtCrmWeb.FoobarCT">
				<xs:annotation>
					<xs:documentation>The Foobars.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="tutorial" type="tns:Xdsoft.RTK.ExtCrmWeb.TutorialCT">
				<xs:annotation>
					<xs:documentation>The Tutorial.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="Xdsoft.RTK.ExtCrmWeb.FoobarsCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="Xdsoft.RTK.ExtCrmWeb.TutorialCT">
	</xs:complexType>
	<xs:complexType name="Xdsoft.RTK.ExtCrmWeb.FoobarCT">
		<xs:attribute name="key" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Key.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
</xs:schema>
